/* declarando cores como variaveis*/
:root{
    --vermelho: #e50914;
    --preto: #141414;
}
/* zerando a margem do box da pagina*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Definindo limite do box*/
}
/* Elementos Base
definindo o background e as fontes do corpo da pagina*/
body{
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
/* Div container*/
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/* Definindo margem, estilo, tamanho e cor da fonte*/
header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: arial black;
    font-size: 40px;
}
/* Definindo o bloco de links*/
header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}
/* Definindo a cor de efeito de passagem de mouse nos links*/
header nav a:hover{
    color: #ffffff;
}

/* Filme Principal*/
.filme_principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/batman-vs-superman2.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
/* Descrição do filme principal*/
.filme_principal .descricao{
    margin-bottom: 40px;
    font-size: 20px;
    margin-left: 5px;
    margin-top: 15px;
}
/* Config titulo*/
.titulo{
    margin-top: 15%;
    font-size: 30px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* config botões filme principal*/
.botao{
    background-color:rgba(0,0,0,.50);
    border: none;
    color:white;

    padding: 15px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer; /* muda o formato do mouse*/
    transition: .3s ease all; /* transição dos botões*/
}
/* Muda cor dos botões ao passar o mouse*/
.botao:hover{
    background-color: white;
    color: var(--preto);
}
/* icone dos botões*/
.botao i{
    margin-right: 5px;
}

.container{
    margin-left: 15px;
    margin-right: 15px;
}

.filme_principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 5px;
}